<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">

                <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="books/index">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">@context.User?.Identity?.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Reservation</a>
                        </li>
                    </Authorized>
                </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Register</a>
                        </li>
                    </NotAuthorized>
                </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            </ul>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
           
        </div>
    </div>
</nav>