@page "/login"


<div>
    <div class="row">
        <div class="" style="display:flex; justify-content:center;align-items:center;text-align:center;">
            <div class="col-md-4">
                <section>
                    <h1>Se connecter</h1>
                    <hr />
                    <div class="form-floating mb-2">
                        <input class="form-control" autocomplete="email" aria-required="true" />
                        <label class="form-control">Email</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input class="form-control" autocomplete="current-password" aria-required="true" />
                        <label class="form-label">Password</label>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label class="form-label">
                                <input class="form-check-input" />
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="w-100 btn btn-lg btn-primary">Se connecter</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

